@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --main: #FA8B00;
  --mainhover: #f69b2b;
  --maintext: #3F434A;
  --helpertext: #8A9099;
  --maindark: #191a1f;
  --helperdark: #1f222b;
}

.dark {
  /* --main: #ffffff; */
  --maintext: #dbdbdb;
  --helpertext: #e9e9e9;
}

.bg-main {
  background-color: var(--main);
}

.bg-mainhover {
  background-color: var(--mainhover);
}

.text-main {
  color: var(--main);
}

.text-maintext {
  color: var(--maintext);
}

.text-helpertext {
  color: var(--helpertext);
}

.bg.maindark {
  background-color: var(--maindark);
}

.bg.helperdark {
  background-color: var(--helperdark);
}

@media (max-width: 900px) {
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    display: none;
  }

  td {
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    grid-template-columns: 15ch auto;
    padding: 1rem 1rem;
    border-bottom: 1px solid #e5e7eb;
    color: #475569;
    font-size: 14px;
  }

  td::before {
    content: attr(data-cell);
    color: #374151;
    font-weight: 600;
  }

  tr {
    border-bottom: 10px solid #e5e7eb;
  }

  tr:last-child {
    border-bottom: 0;
  }

  .dark td {
    border-bottom: 1px solid #374151;
    color: #ffffff;
  }

  .dark td::before {
    color: #d1d5db;
  }

  .dark tr {
    border-bottom: 10px solid #374151;
  }
}



.ant-pagination-item-active {
  background-color: #FA8B00 !important;
  border: none !important; 
}

.ant-pagination-item-active a {
  color: white !important; 
}






.dark .ant-pagination-prev .ant-pagination-item-link,
.dark .ant-pagination-next .ant-pagination-item-link {
  color: #ff8400;
}

.dark .ant-pagination-disabled .ant-pagination-item-link {
  color: #c3c3c3; 
}

.dark .ant-pagination-prev:hover .ant-pagination-item-link,
.dark .ant-pagination-next:hover .ant-pagination-item-link {
  color: #ff8400; 
}

.dark .ant-pagination-item a {
  color: #000; 
}

.dark .ant-pagination-item-active {
  border-color: #ff8400;
}
